# version: "3.1"

# language: en  # ✅ Required field

# recipe: default.v1  # Specify recipe to avoid FutureWarning

# pipeline:
# - name: "normalization.normalizer.SimpleTextNormalizer"
#   config_file: "/app/src/intents/trainings/normalization/normalization.yml"
#   lowercase: true
#   max_replacements_per_text: 50
# - name: WhitespaceTokenizer
#   intent_tokenization_flag: true
#   intent_split_symbol: "+"
# - name: RegexFeaturizer
# - name: LexicalSyntacticFeaturizer
# - name: CountVectorsFeaturizer
# - name: DIETClassifier
#   epochs: 20
#   constrain_similarities: true
# - name: EntitySynonymMapper

# assistant_id: 20250911-112047-tomato-pineapple






version: "3.1"

language: en  # ✅ Required field

pipeline:
- name: "normalization.normalizer.SimpleTextNormalizer"
  config_file: "/app/src/intents/trainings/normalization/normalization.yml"
  lowercase: true
  max_replacements_per_text: 50
- name: WhitespaceTokenizer
  intent_tokenization_flag: true
  intent_split_symbol: "+"
- name: RegexFeaturizer
- name: LexicalSyntacticFeaturizer
- name: CountVectorsFeaturizer
- name: DIETClassifier
  epochs: 100
- name: EntitySynonymMapper
- name: ResponseSelector
  epochs: 100
assistant_id: 20250911-125243-moderato-sphere
